
.rotate-tl {
    -webkit-animation: rotate-tl 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite  ;
    animation: rotate-tl 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite ;
}

.rotate-vert-right {
    -webkit-animation: rotate-vert-right 5s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
    animation: rotate-vert-right 5s cubic-bezier(0.645, 0.045, 0.355, 1.000) infinite;
}
.rotate-vert-center {
    -webkit-animation: rotate-vert-center 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: rotate-vert-center 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.slide-in-top-maya {
    -webkit-animation: slide-in-top-maya 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-maya 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.slide-in-top-unity {
    -webkit-animation: slide-in-top-unity 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-unity 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.slide-in-top-Cpp {
    -webkit-animation: slide-in-top-Cpp 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-Cpp 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.slide-in-top-Csharp {
    -webkit-animation: slide-in-top-Csharp 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-Csharp 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.slide-in-top-git {
    -webkit-animation: slide-in-top-git 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-git 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.slide-in-top-android {
    -webkit-animation: slide-in-top-android 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-android 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.slide-in-top-angular {
    -webkit-animation: slide-in-top-angular 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-angular 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.slide-in-top-trinity {
    -webkit-animation: slide-in-top-trinity 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-trinity 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.slide-in-top-sql {
    -webkit-animation: slide-in-top-sql 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-sql 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
.slide-in-top-dotnet {
    -webkit-animation: slide-in-top-dotnet 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-in-top-dotnet 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.follow {
    -webkit-animation: follow 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: follow 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

.rotate-br {
    -webkit-animation: rotate-br 2s linear both;
    animation: rotate-br 2s linear both;
}

.jello-horizontal {
    -webkit-animation: jello-horizontal 0.9s 5 both;
    animation: jello-horizontal 0.9s 5 both;
}


.shake-lr {
    -webkit-animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3 both;
    animation: shake-lr 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3 both;
}

.shake-lr-logos {
    -webkit-animation: shake-lr-logos 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
    animation: shake-lr-logos 0.7s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.bounce-out-top {
    -webkit-animation: bounce-out-top 1.5s both;
    animation: bounce-out-top 1.5s both;
}

.rotate-center {
    -webkit-animation: rotate-center 4s linear infinite both;
    animation: rotate-center 4s linear infinite both;
}
.slide-around {
    -webkit-animation: slide-around 5s linear infinite both;
    animation: slide-around 5s linear infinite both;
}
.move-to-corners-Maya{
    -webkit-animation: move-to-corners-Maya 5s linear  both;
    animation: move-to-corners-Maya 1s linear  both;
}
.move-to-corners-Unity{
    -webkit-animation: move-to-corners-Unity 5s linear  both;
    animation: move-to-corners-Unity 1s linear  both;
}
.move-to-corners-cSharp{
    -webkit-animation: move-to-corners-cSharp 5s linear  both;
    animation: move-to-corners-cSharp 1s linear  both;
}
.move-to-corners-Angular{
    -webkit-animation: move-to-corners-Angular 5s linear  both;
    animation: move-to-corners-Angular 1s linear  both;
}
.move-to-corners-Cpp{
    -webkit-animation: move-to-corners-Cpp 5s linear  both;
    animation: move-to-corners-Cpp 1s linear  both;
}
.move-to-corners-Git{
    -webkit-animation: move-to-corners-Git 5s linear  both;
    animation: move-to-corners-Git 1s linear  both;
}
.move-to-corners-Android{
    -webkit-animation: move-to-corners-Android 5s linear  both;
    animation: move-to-corners-Android 1s linear  both;
}
.move-to-corners-Trinity{
    -webkit-animation: move-to-corners-Trinity 5s linear  both;
    animation: move-to-corners-Trinity 1s linear  both;
}
.move-to-corners-Sql{
    -webkit-animation: move-to-corners-Sql 5s linear  both;
    animation: move-to-corners-Sql 1s linear  both;
}
.move-to-corners-Dotnet{
    -webkit-animation: move-to-corners-Dotnet 5s linear  both;
    animation: move-to-corners-Dotnet 1s linear  both;
}


.logos{
    width: 150px;
    height: 100px;
    display: block;
}
.head{
    width: 400px;
    height: 300px;
    display: block;
}
.headTop{
    width: 362px;
    height: 150px;
    display: block;
    margin-left: 38px;
}

/*-------Variables--------*/


:root {
    --headsPosition: translate3d(400px,450px,0px);
    --logosDiffX: translate3d(400px,0px,0px);
    --logosDiffY: translate3d(0px,450px,0px);
    --logosFollow: translate3d(0px,450px,0px);
    --logosRotateAround: 50% 50%;
    --logosFloatingBoxX:translateX(0);
    --logosFloatingBoxY: translateY(-2000px);
    --logosFloatingBoxXN:translateX(0);
    --logosFloatingBoxYN: translateY(-2000px);
}
/* ----------------------------------------------
 * Generated by Animista on 2018-9-26 22:37:49
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes slide-around {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    20% {
        -webkit-transform: translateX(-1000px);
        transform: var(--logosFloatingBoxXN);
    }
    40% {
        -webkit-transform: translateX(500px);
        transform: var(--logosFloatingBoxXN) var(--logosFloatingBoxYN) ;
    }
    60% {
        -webkit-transform: translateX(-100px);
        transform: var(--logosFloatingBoxX) var(--logosFloatingBoxYN) ;
    }
    80% {
        -webkit-transform: translateX(-100px);
        transform: var(--logosFloatingBoxX) translateY(0px);
    }
   100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes move-to-corners-Maya {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: var(--logosFloatingBoxXN) var(--logosFloatingBoxXN) var(--logosFloatingBoxXN);
    }
}
@keyframes move-to-corners-Unity {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: var(--logosFloatingBoxX) var(--logosFloatingBoxX) var(--logosFloatingBoxX);
    }
}
@keyframes move-to-corners-cSharp {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: var(--logosFloatingBoxXN) var(--logosFloatingBoxYN) var(--logosFloatingBoxXN) var(--logosFloatingBoxYN) var(--logosFloatingBoxXN) var(--logosFloatingBoxYN);
    }
}
@keyframes move-to-corners-Angular {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: var(--logosFloatingBoxX) var(--logosFloatingBoxYN) var(--logosFloatingBoxX) var(--logosFloatingBoxYN) var(--logosFloatingBoxX) var(--logosFloatingBoxYN);
    }
}
@keyframes move-to-corners-Dotnet {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: var(--logosFloatingBoxX) var(--logosFloatingBoxYN) var(--logosFloatingBoxX) var(--logosFloatingBoxYN)  var(--logosFloatingBoxYN);
    }
}
@keyframes move-to-corners-Android {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: var(--logosFloatingBoxXN);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}



@keyframes follow {
    0% {
        -webkit-transform: rotate(0);
        transform:  var(--logosLastPos);

    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: var(--logosFollow);

    }
}

@keyframes rotate-br {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
    }
    50% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
    }
}

@keyframes rotate-tl {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: top left;
        transform-origin: top left;
    }
}

@keyframes rotate-vert-right {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
    100% {
        -webkit-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
        -webkit-transform-origin: right;
        transform-origin: right;
    }
}
@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotate3d(0, 0, 1, 20deg);
        
        
    }
    50% {
        -webkit-transform: rotateY(360deg);
        transform: rotate3d(0,1,0.5,180deg);
    }
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotate3d(0,1,0,359deg);
    }
    
}


/*----------Maya--------------*/
@keyframes slide-in-top-maya {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition ) scale(0.3) ;
        opacity: 1;
    }
}
/*----------Unity--------------*/
@keyframes slide-in-top-unity {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition ) var(--logosDiffY) translate3d(45px,-20px,0px) scale(0.3) ;
        opacity: 1;
    }
}
/*----------Cpp--------------*/
@keyframes slide-in-top-Cpp {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition ) var(--logosDiffX) translate3d(45px,30px,0px) scale(0.3) ;
        opacity: 1;
    }
}
/*----------Csharp--------------*/
@keyframes slide-in-top-Csharp {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition ) var(--logosDiffX) var(--logosDiffY) translate3d(-45px,30px,0px) scale(0.3) ;
        opacity: 1;
    }
}
/*----------git--------------*/

@keyframes slide-in-top-git {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition ) var(--logosDiffX) var(--logosDiffX) translate3d(-45px,-15px,0px) scale(0.3) ;
        opacity: 1;
    }
}
/*----------android--------------*/
@keyframes slide-in-top-android {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition )  var(--logosDiffX) var(--logosDiffX) var(--logosDiffY) translate3d(-10px,80px,0px) scale(0.3) ;
        opacity: 1;
    }
}
/*----------angular--------------*/
@keyframes slide-in-top-angular {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition )var(--logosDiffX) var(--logosDiffX) var(--logosDiffX) translate3d(45px,70px,0px) scale(0.3) ;
        opacity: 1;
    }
}
/*----------trinity--------------*/
@keyframes slide-in-top-trinity {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition ) var(--logosDiffX) var(--logosDiffX) var(--logosDiffX) var(--logosDiffY) translate3d(70px,90px,0px) scale(0.3) ;
        opacity: 1;
    }
}
/*----------sql--------------*/
@keyframes slide-in-top-sql {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition ) var(--logosDiffX) var(--logosDiffX) var(--logosDiffX) var(--logosDiffX)  translate3d(-80px,20px,0px)  scale(0.3) ;
        opacity: 1;
    }
}

/*----------dotnet--------------*/
@keyframes slide-in-top-dotnet {
    0% {
        -webkit-transform: translate3d(0px,0px,0px);
        transform: translate3d(0px,0px,0px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(400px,450px,0px);
        transform: var(--headsPosition ) var(--logosDiffX) var(--logosDiffX) var(--logosDiffX) var(--logosDiffX)  var(--logosDiffY)  translate3d(80px,20px,0px)  scale(0.3) ;
        opacity: 1;
    }
}




@-webkit-keyframes shake-lr {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    10% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    80% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    90% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
}
@keyframes shake-lr {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    10% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    80% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    90% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
}


@keyframes shake-lr-logos {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg) ;

    }
    10% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg) ;
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg) ;
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg) ;
    }
    80% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg) ;
    }
    90% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
}

@keyframes bounce-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    5% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    15% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    25% {
        -webkit-transform: translateY(-38px);
        transform: translateY(-38px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    52% {
        -webkit-transform: translateY(-75px);
        transform: translateY(-75px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    70% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    85% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-800px);
        transform: translateY(-800px);
        opacity: 0;
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        transform-origin:var(--logosRotateAround);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        transform-origin: var(--logosRotateAround);
    }
}


